<div class="slide-margin1">
    <% @publications.each do |publication| %>
      <h1><%= publication.year%> publications</h1><br>
      <%= link_to publication.title, publication.title , target: "blank",class:"publication-link" %><br>
      <br>
    <% end %>
    <br>
    <br>
    <br>
  <%= link_to 'New Publication', new_publication_path %>
</div>
