<h1> Contact </h1>
<div class ="slide-margin">
  <div class="address">
    <h2 class="contact-title">Address</h2>
    <div class="col-md-12">
      <div class="col-md-6 contact-section">
        <p>MACQUARIE UNIVERSITY</p>
        <p>SYDNEY NSW-2122</p>
        <p>AUSTRALIA</p>
        <p>Phone:(00) 222 666 444</p>
        <p>Fax: (000) 000 00 00 0</p>
        <p>Email: <a href="mailto:karthikskamath@mq.edu.com">karthikskamath@mq.edu.com</a></p>
        <p>Follow on: <a href="#">Facebook</a> , <a href="#">Twitter</a></p>
      </div>
      <div class=" col-md-6 google-map">
        <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d6632.96176808062!2d151.116958!3d-33.774078!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x6e56b8042871744f!2sAustralian+Proteome+Analysis+Facility!5e0!3m2!1sen!2sau!4v1484197500482" width="600" height="450" frameborder="0" style="border:0" allowfullscreen></iframe>
      </div>
  </div>

</div>
