<header class="site-header collapsed-nav">
	<div class="nav-margin">
		<div class="header-bar">
			<a href="index.html" class="branding">
				<img src="http://www.mq.edu.au/__data/assets/image/0015/1158/mqu-logo-horizontal.png" alt="" class="logo">
				<div class="logo-type">
					<h1 class="site-title">MOLLOY LAB</h1>
					<small class="site-description">Proteomics Research</small>
				</div>
			</a>
			<nav class="main-navigation">
				<button class="menu-toggle"><i class="fa fa-bars"></i></button>
				<ul class="menu">
					<li class="home menu-item current-menu-item"><a href="/"><i class="fa fa-home fa-2x" aria-hidden="true"></i></a></li>
					<li class="menu-item"><a href="/teams"> Team</a></li>
					<li class="menu-item"><a href="/contacts"> Contact</a></li>
					<li class="menu-item"><a href="/publications"> Publication</a></li>
				</ul>
			</nav>

			<div class="mobile-navigation"></div>
		</div>
  </div>
</header>
